@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
  font-family: 'Source Sans Pro', sans-serif;
}

/* header css */
.banner {
	/*height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(https://app.aamakoachar.com/storage/homepages/September2022/KB1ZIDxsu2BFdUG0L3Q7.mp4);
/*	position: relative;*/
	background-size: cover;
}
.banner video {
	width: 100%;
}
nav {
  text-transform: uppercase;
  z-index: 9;
}

.logo img {
	width: 110px;
}

nav li {
    display: inline;
    position: relative;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: lightgoldenrodyellow;
    color: #888;
    z-index: 999;
}
.b-text {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	color: #fff;
	z-index: 2;
	transform: translate(-50%,-50%);
}
.b-text h1 {
	font-size: 100px;
}
.b-text p {
	font-size: 16px;
	line-height: 1.6;
}
/* --------------------------------------------------------- */

/* intro css */
.i-text {
  text-align: center;
}
.i-text h4 {

  font-size: 38px;
  line-height: 1.6;
  color: rgba(0,0,0,0.85);
}

.i-text p {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(0,0,0,0.85);
}


.box {
  /*	display: inline-block;*/
    padding-top: 150px;
    position: relative;
    text-align: center;
    
  }
  .box::before {
    bottom: 40px;
    content: "";
    height: 80px;
    position: absolute;
    background: #000;
    width: 1px;
    left: 50%;
    transition: 0.9s;
  }
  .box:hover::before {
    height: 0;
  }
  .box::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    background: #000;
    bottom: 0;
    left: 45%;
    transition: 0.9s;
  }
  .box:hover::after {
    width: 9%;
  }

  .intro img {
    width: 48vw;
  }

/* --------------------------------------------------------- */

/* products css */
.fbox {
	position: relative;
	margin: 0 5px;
	background: greenyellow;
	text-align: center;
}
/* --------------------------------------------------------- */

/* discover info */
.discover .separate img {
width: 130px;
vertical-align: middle;
}

.discover .separate {
margin: 15px 0;
text-align: center;
}

.discover .separate h5 {

font-size: 20px;
margin: 10px auto;
max-width: 190px;
text-transform: uppercase;
}

.box {
/*	display: inline-block;*/
padding-top: 150px;
position: relative;
text-align: center;

}
.box::before {
bottom: 40px;
content: "";
height: 80px;
position: absolute;
background: #000;
width: 1px;
left: 50%;
transition: 0.9s;
}
.box:hover::before {
height: 0;
}
.box::after {
content: "";
position: absolute;
width: 1px;
height: 1px;
background: #000;
bottom: 0;
left: 45%;
transition: 0.9s;
}
.box:hover::after {
width: 9%;
}
/* --------------------------------------------------------- */

/* footer css */
footer {
	background: #E58C23;
}

.list {
	list-style: none;
}
.email {
	border: 1px solid #fff;
	border-radius: 50px;
	height: 48px;
	width: 180px;
	margin: 40px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.email p {
	line-height: 1;
	font-size: 14px;
	margin: auto;
}
.email a {
	background-color: #fff;
	border-radius: 50%;
	color: #E58C23;
	height: 60px;
	width: 60px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.fEnd {
	text-align: center;
	font-size: 16px;
	border-top: 1px solid #fff;
	padding-top: 15px;
	padding-bottom: 5px;
}

/* --------------------------------------------------------- */